<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pelis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

  

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item routerLink="/formulario">Go to formulario</ion-item>
    </ion-list>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ Quotelist.quote }} </ion-card-title>
        <ion-card-title> Author: {{ Quotelist.author }} </ion-card-title>
      </ion-card-header>
    </ion-card>

</ion-content>
